.container{
	height: 100%;
	background: none;
}
.dis_flx{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	div{
		text-align: center;
	}
}
.font_30{
	font-size: .3rem;
	color: #737475;
	font-weight: 300;
}
.butt {
	width: 100%;
	margin-top: .2rem;
	padding: 0 .2rem;
	box-sizing: border-box;
}
.btn{
	margin-top: 35px;
	margin-left: 0;
	margin-right: 0;
	font-weight: 300;
}

// 健康卡
.bg_108ee9 {
	padding-top: .9rem;
	height: 3rem;;
	background: #108ee9;
	text-align: center;
	img {
		display: inline-block;
		overflow: hidden;
		margin-top: .2rem;
		width: 1.2rem;
		height: 1.2rem;
		border-radius: 50%;
		border: .1rem solid #fff;
	}
}
.pad_3 {
	position: absolute;
	left: 0;
	top: 2.8rem;
	width: 100%;
	.card {
		margin: 0 .2rem;
		padding: .4rem;
		border-radius: .2rem;
		background: #fff;
		font-size: .3rem;
		font-weight: 400;
		box-shadow: .1rem #E8ECF0;
		p {
			margin: 0;
			line-height: 1.5;
		}
	}
}
.text_ct {
	text-align: center;
}
.dis_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flx_l {
	flex: 2;
}
.flx_r {
	flex: 1;
	text-align: right;
}
.width_50 {
	text-align: center;
	img {
		width: 50%;
	}
}
.c_108ee9 {
	color: #108ee9;
}
.font_24 {
	margin: .1rem 0;
	font-size: .24rem;
	line-height: 1.5;
}
.line_2 {
	margin: .3rem 0;
	font-size: .24rem;
	line-height: 1.5;
}
.calender {
	display: inline-block;
	vertical-align: middle;
	width: .25rem;
	height: .25rem;
	margin-right: .2rem;
}
.font_3 {
	font-size: .28rem;
	color: #108ee9;
	margin: .3rem .2rem;
	font-weight: 400;
}
.mg_2 {
	margin: 0 .2rem;
	line-height: 1.5;
	font-size: .26rem;
	color: #919293;
	h3 {
		font-size: .32rem;
		font-weight: 300;
		margin: .1rem 0;
		color: #757576;
	}
	.mgt_2 {
		display: block;
		margin-top: .1rem;
	}
	.dis_flx_row {
		display: flex;
		flex-direction: row;
		padding-bottom: .2rem;
	}
}

