.container{
	height: 100%;
	background: none;
}
.dis_flx{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
  height: 100%;
  background: #fff;
	div{
		text-align: center;
	}
}
.img {
	margin-top: 2rem;
	margin-bottom: 1.6rem;
}
.butt {
	width: 100%;
	padding: 0 .6rem;
	box-sizing: border-box;
}
.btn{
	margin-left: 0;
	margin-right: 0;
	font-weight: 300;
}
