.title{
    background: #fff;
    height: 1rem;
    line-height: 1rem;
    padding-left: .3rem;
    margin-bottom: 20px;
    font-size: .36rem;
    font-weight: 400;
}
.content{
    padding-left: .3rem;
    background: #fff;
    font-weight: 300;
    .list{
        :global {
            .am-list-item {
                padding-left: 0;
            }
            .am-list-item .am-list-line .am-list-extra{
                color: rgb(16, 142, 233);
            }
        }
    }
    .list1{
        :global {
            .am-list-item {
                padding-left: 0;
            }
        }
    }
    
}


.nameList{
    color: #666;
    font-weight: 300;
    font-size: 0.34rem;
}