.title{
    background: #fff;
    height: 1rem;
    line-height: 1rem;
    padding-left: .3rem;
    margin-bottom: 20px;
    font-size: .36rem;
    font-weight: 400;
}
.content{
    background: #fff;
    font-weight: 300;
}


.nameList{
    color: #666;
    font-weight: 300;
    font-size: 0.34rem;
}

.div_no_detail{
	margin-left:0.1rem;
	padding:0rem 0.2rem;
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1PX solid #ddd;
}

.div_detail{
	display: flex;
	margin:0rem 0.1rem;
	border-bottom: 1PX solid #ddd;
}

.div_detail_inner{
	height: 0.8rem;
	line-height: 0.8rem;
	width:31%;
}

.div_detail_inner img{
	width: 0.34rem;
	height: 0.34rem;
	vertical-align: middle;
}

